body{
    background-color: azure;
}
h1{
    color: fuchsia;
}

#mk{
    color: rgb(0, 119, 255);
}
#annce{
    color:chartreuse;}

h2{
    color: rgb(9, 255, 0);}
#Aleksis{
    color: goldenrod;
}
  
 #km{
        color: rgb(0, 255, 42);
    }  
  
  
  
#jan{
    color: #511387;
}
#mar{color: aqua;}
#kf {color:red;}

#pb{color:blue;}

#sf{color:rgb(134, 126, 79)}

